{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Minified CSS and JS -->
	<link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'loginv2/css/main.css' %}">
<!--===============================================================================================-->

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
</head>
<body>
	
	<div class="limiter">
		{% if user.is_authenticated %}
			<div>
				<script>
					window.location.replace("{% url 'profile' %}");
				</script>
			</div>
		
		{% else %}
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-10 p-b-33">
				{% for message in messages %}
				<div class="alert alert-warning" role="alert">
					{{ message }}
				</div>
				{% endfor %}

				<form id="login" method="POST" action="#" class="login100-form validate-form flex-sb flex-w">
					{% csrf_token %}
					<!-- Begin Logo -->
					<a href="{% url 'home' %}">
						<span class="login100-form-title p-b-15">
							<img src="{% static '/images/sharanlogo.png' %}" alt="Sharan Logo" style="width: 50%;">
						</span>
					</a>
				<!-- End Logo -->
					<span class="login100-form-title p-b-15">
						Sign Up
					</span>

					<!-- <a href="#" class="btn-face m-b-20">
						<i class="fa fa-twitter"></i>
						Twitter
					</a>

					<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn-google m-b-20">
						<img src="{% static 'loginv2/images/icons/icon-google.png' %}" alt="GOOGLE">
						Google
					</a> -->
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Username
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							First Name
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "First Name is required">
						<input class="input100" type="text" name="first_name" >
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Last Name
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "First Name is required">
						<input class="input100" type="text" name="last_name" >
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email is required">
						<input class="input100" type="text" name="email" >
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password1" >
						<span class="focus-input100"></span>
					</div>

					<div>
						<ul>
							<li>Password should not be less than 12 characters.</li>
							<li>Password must be the combinations of upper case, lower case, numeric and specials characters.</li>
							<li>Password shouldnot be similar to username, name or email address.</li>
						</ul>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Confirm Password
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Confirm your Password is required">
						<input class="input100" type="password" name="password2" >
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<div class="g-recaptcha" data-sitekey="6Lf8HqYqAAAAAIOCY6Tiym0I76J_DxZT55PdJESR" data-callback="enableBtn"></div>
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit" value="Login" disabled="disabled" id="registerbtn">
							Sign Up
						</button>
					</div>

					<div class="w-full text-left p-t-55">
						<span class="txt2">
							By signing up, you agree to the website's
						</span>

						<a href="{% url 'privacypolicy' %}" target="_blank" class="txt2 bo1">
							privacy policy
						</a> </br>
						<span class="txt2">
							Already have an account?
						</span>

						<a href="{% url 'login' %}" class="txt2 bo1">
							Sign In
						</a>
					</div>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'loginv2/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginv2/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginv2/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'loginv2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginv2/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginv2/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'loginv2/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginv2/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginv2/js/main.js' %}"></script>

	<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
	<script type="text/javascript">
        function formSubmit(token) {
            document.getElementById("register-form").submit();
        }
</script>
<script>
	function enableBtn(){
   document.getElementById("registerbtn").disabled = false;
 }
</script>

</body>
</html>


